apiVersion: operator.ibm.com/v1alpha1
kind: MustGatherConfig
metadata:
  name: default
  labels:
    app.kubernetes.io/instance: ibm-healthcheck-operator
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator
spec:
  gatherConfig: |-
    modules="overview,system,failure,ocp,cloudpak"
    namespaces="common-service,ibm-common-services"
    labels=""

---
apiVersion: operator.ibm.com/v1alpha1
kind: MustGatherConfig
metadata:
  name: common-service
  labels:
    app.kubernetes.io/instance: ibm-healthcheck-operator
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator
spec:
  gatherConfig: |-
    modules="overview,failure,cloudpak"
    namespaces="common-service,ibm-common-services"
    labels=""
