apiVersion: operator.ibm.com/v1alpha1
kind: MustGatherJob
metadata:
  name: example-mustgatherjob
  labels:
    app.kubernetes.io/instance: ibm-healthcheck-operator
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator
spec:
  serviceAccountName: ibm-mustgather-admin
  mustgatherConfigName: common-service
#  image:
#    repository: quay.io/haoqing/must-gather
#    tag: latest
