apiVersion: apps/v1
kind: Deployment
metadata:
  name: ibm-healthcheck-operator
  labels:
    app.kubernetes.io/instance: ibm-healthcheck-operator
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ibm-healthcheck-operator
  template:
    metadata:
      labels:
        name: ibm-healthcheck-operator
        app.kubernetes.io/instance: ibm-healthcheck-operator
        app.kubernetes.io/managed-by: ibm-healthcheck-operator
        app.kubernetes.io/name: ibm-healthcheck-operator
      annotations:
        productName: IBM Cloud Platform Common Services
        productID: "068a62892a1e4db39641342e592daa25"
        productMetric: FREE
    spec:
      serviceAccountName: ibm-healthcheck-operator
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - amd64
                - ppc64le
                - s390x
      hostIPC: false
      hostNetwork: false
      hostPID: false
      containers:
        - name: ibm-healthcheck-operator
          # Replace this with the built image name
          image: icr.io/cpopen/ibm-healthcheck-operator:3.23.0
          command:
          - ibm-healthcheck-operator
          imagePullPolicy: IfNotPresent
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "ibm-healthcheck-operator"
            - name: SYSTEM_HEALTHCHECK_SERVICE_IMAGE
              value: "icr.io/cpopen/cpfs/system-healthcheck-service:3.10.7"
            - name: ICP_MEMCACHED_IMAGE
              value: "icr.io/cpopen/cpfs/icp-memcached:3.10.7"
            - name: MUST_GATHER_IMAGE
              value: "icr.io/cpopen/cpfs/must-gather:4.6.7"
            - name: MUST_GATHER_SERVICE_IMAGE
              value: "icr.io/cpopen/cpfs/must-gather-service:1.3.7"
          resources:
            limits:
              cpu: 160m
              memory: 512Mi
            requests:
              cpu: 10m
              memory: 32Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
