kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-healthcheck-operator
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator
subjects:
- kind: ServiceAccount
  name: ibm-healthcheck-operator
  namespace: ibm-healthcheck-operator
roleRef:
  kind: Role
  name: ibm-healthcheck-operator
  apiGroup: rbac.authorization.k8s.io

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-healthcheck-operator-cluster
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator-cluster
subjects:
- kind: ServiceAccount
  name: ibm-healthcheck-operator-cluster
  namespace: ibm-healthcheck-operator
roleRef:
  kind: ClusterRole
  name: ibm-healthcheck-operator-cluster
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ibm-mustgather-admin
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-mustgather-admin
subjects:
- kind: ServiceAccount
  name: ibm-mustgather-admin
  namespace: ibm-healthcheck-operator
roleRef:
  kind: ClusterRole
  name: ibm-mustgather-admin
  apiGroup: rbac.authorization.k8s.io
