apiVersion: v1
kind: ServiceAccount
metadata:
  name: ibm-healthcheck-operator
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ibm-healthcheck-operator-cluster
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-healthcheck-operator-cluster

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ibm-mustgather-admin
  labels:
    app.kubernetes.io/instance: system-healthcheck-service
    app.kubernetes.io/managed-by: ibm-healthcheck-operator
    app.kubernetes.io/name: ibm-mustgather-admin
